.learnings-page {
    width: 100%;
    min-height: 10em;
    /* From https://css.glass */
    background: rgba(75, 63, 63, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px dashed rgba(255, 255, 255, 0.88);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.no-learnings {
    font-size: 2em;
    font-weight: bold;
}

.resume-parent-home {
    display: flex;
    flex-direction: column;
    margin-inline: 1%;
}

.resume-course-home {
    font-size: 3em;
    color: white;
}

.add-course-label {
    color: azure;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.table-parent {
    margin-inline: 2%;
    margin-block: 1%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.streak-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
}

.streak-info h1 {
    width: 100%;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-between;

}